@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

:root{
  --text: #eceeef;
  --text05opa: #eceeef0d;
  --background: #0d1317;
  --primary: #9ec5e0;
  --secondary: #15598a;
  --accent: #1e9ffa;
}

.dark-theme{
  --text: #101213;
  --text05opa: #1012130e;
  --background: #e8eef2;
  --primary: #1f4561;
  --secondary: #75baea;
  --accent: #0585e1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
}

h1, h2, h3, p, small, label {
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 2;
}

button{
  font-family: 'Poppins', sans-serif;
}

hr {
  border: none;
  margin: 0 auto;
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, var(--text), var(--secondary), var(--text));
}


a {
  text-decoration: none;
  color: var(--accent);
  opacity: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}

a:hover {
  text-shadow: 2px 2px 3px var(--text);
}

ul {
  padding: 0;
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  height: 65px;
  background-color: var(--background);
}

img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

h1 {
  text-align: center;
}

section{
  margin: 0.2rem;
}

footer{
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a{
  font-size: 0.8rem;
  color: var(--accent);
  padding-left: 1rem;
  text-decoration: underline;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.text-degrade{
  background: linear-gradient(120deg,var(--primary),var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.position1{
  border: none !important;
  position: absolute;
  z-index: 1;
  width: 60%;
  top: 35rem;
  left: -4rem;
}

.background-blob{
  background: url('svg/blob.svg') no-repeat right;
}

.presentation h1 {
  font-size: 3rem;
}

.card {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--accent);
  border-radius: 1rem;
  background-color: var(--text05opa);
}

.card img{
  border: 2px solid var(--primary);
  margin-top: 1rem;
}

.album{
  background: linear-gradient(135deg, var(--secondary), var(--accent));
  color: var(--text);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
  box-shadow: 0 2px 2px var(--primary);
}

.album:hover {
  transform: scale(1.05);
}

.album h3 {
  font-size: 1.4em;
  text-shadow: 1px 1px 2px var(--background);
}

.logout-btn {
  background: linear-gradient(135deg, var(--secondary), var(--accent));
  color: var(--text);
  border-radius: 10px;
  border: none;
  padding: 0.6rem;
  text-align: center;
  transition: transform 0.2s;
}

.logout-btn:hover {
  background: var(--text);
  color: var(--secondary);
}

.file-upload-wrapper {
  position: relative;
}

.file-upload-button {
  background: linear-gradient(135deg, var(--secondary), var(--accent));
  color: var(--text);
  border-radius: 10px;
  border: none;
  padding: 0.6rem;
  text-align: center;
  transition: transform 0.2s;
}

#photos-container {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--accent);
  border-radius: 1rem;
  background-color: var(--text05opa);
}

#photo-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  margin: 1rem;
}

.photo img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s cubic-bezier(0.42, 0, 0, 3.16);
}

.photo img:hover {
  transform: scale(1.05);
}

#fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#fullscreen-img {
  max-width: 90%;
  max-height: 90%;
  transition: transform 0.3s ease;
}

#close-fullscreen {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#close-fullscreen:hover {
  color: red;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.vertical-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.btnEnvoyer {
  background-color: var(--secondary);
  color: var(--text);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnEnvoyer:hover {
  background-color: var(--secondary);
}

#backButton {
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#backButton:hover {
  background-color: var(--accent);
}

#searchBar {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 3px solid var(--secondary);
  border-radius: 4px;
}

#menuToggle {
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 3;
}

#menuToggle input {
  display: none;
}

#menuToggle .menu-icon {
  display: block;
  position: relative;
  cursor: pointer;
}

#menuToggle .menu-icon span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: var(--text);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle input:checked + .menu-icon span {
  background: var(--background);
}

#menuToggle input:checked + .menu-icon span:nth-of-type(1) {
  transform: rotate(45deg);
}

#menuToggle input:checked + .menu-icon span:nth-of-type(2) {
  opacity: 0;
  transform: translateX(20px);
}

#menuToggle input:checked + .menu-icon span:nth-of-type(3) {
  transform: rotate(-45deg);
}

#menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--text);
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#menuToggle input:checked ~ #menu {
  transform: translate(0, 0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
}

#icon {
  max-width: 24px;
  max-height: 24px;
}

#icon:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {

}
